<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{nomePokemon}}</mat-card-title>
      <mat-card-subtitle>{{tipoPokemon}}</mat-card-subtitle>
    </mat-card-header>
    <div style="background: white;">
        <img mat-card-image [src]="recuperarFoto()" alt="Photo of a Shiba Inu">
    </div>
    
    <mat-card-content>
      <p>
       {{descricaoPokemon}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Primary</button>
      <!-- <button mat-raised-button color="accent">Accent</button> -->
    </mat-card-actions>
  </mat-card>

  