<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <img mat-card-sm-image [src]="recuperarFoto()"> -->
      <mat-card-title>{{nomePokemon}}</mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list aria-label="Pokemon types">
          <mat-chip color="watter-chip" selected>{{tipoPokemon}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <div>
        <img mat-card-image [src]="recuperarFoto()" alt="Photo of a Shiba Inu">
    </div>
    
    <mat-card-content>
    
     

      <p>
        {{descricaoPokemon}}
      </p>

    </mat-card-content>
    <mat-card-actions>
      
      <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
        <mat-icon>videogame_asset</mat-icon>
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>
          <mat-icon>forward</mat-icon>
          <span>Next Pokemon</span>
        </button>
        <button mat-menu-item>
          <mat-icon>sports_esports</mat-icon>
          <span>Search by number</span>
        </button>
        <button mat-menu-item>
          <mat-icon>search</mat-icon>
          <span>Search by name</span>
        </button>
      </mat-menu>


    </mat-card-actions>
  </mat-card>

  