.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/245.png');
    background-size: cover;
  }

  /* How to pass color as parameter? */
 .mat-chip.mat-standard-chip {
  background-color: lightskyblue !important;
  color: #fff;
}
