.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/245.png');
    background-size: cover;
  }

 