.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
    background-color: white;
  }

  /* How to pass color as parameter? */
 .mat-chip.mat-standard-chip {
  background-color: lightskyblue !important;
  color: #fff;
}

/* #bdae58; */