<mat-card class="example-card" id="eva">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + pokemonUrl + ')'}">
    </div>

    <!-- <img mat-card-sm-image [src]="recuperarFoto()"> -->
    <mat-card-title>
      {{pokemonName | uppercase }} <a style="color: grey"> Nº{{pokemonNumber}} </a>
      <!-- <mat-chip-list>
        <mat-chip selected>{{pokemonType | uppercase}}</mat-chip>
      </mat-chip-list> -->
    </mat-card-title>
    <!-- <mat-card-subtitle>
    </mat-card-subtitle> -->
  </mat-card-header>


  <mat-card-content>
    <div style="transform: scale(0.5);">
      <img mat-card-image [src]="pokemonPhoto">
    </div>
  </mat-card-content>
  <!-- <mat-card-content>
    <p>
      {{pokemonDescription}}
    </p>
  </mat-card-content> -->

  <mat-card-actions>
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu" matTooltip="Menu" [matTooltipPosition]="'right'"
      matTooltipHideDelay="1000">
      <mat-icon>videogame_asset</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="getNextPokemon()">
        <mat-icon>forward</mat-icon>
        <span>Next Pokemon</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>sports_esports</mat-icon>
        <span>Search by number</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>search</mat-icon>
        <span>Search by name</span>
      </button>
      <button mat-menu-item (click)="getRandomPokemon()">
        <mat-icon>flash_on</mat-icon>
        <span> ¯\_(ツ)_/¯ </span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>